@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* this is nav section  */
body {
  font-family: "Quicksand", serif;
}
.nav-bar {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 2rem 0;
}
.nav-bar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.nav-bar-logo h3 {
  font-size: 32px;
  font-weight: bold;
}
.nav-link {
  display: flex;
  gap: 10px;
}
.nav-link li {
  list-style: none;
}
.nav-link li a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
}
.btn-nav {
  cursor: pointer;
  width: 197px;
  height: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
  background-color: orange;
  border-radius: 8px;
}
.nav-bar-icone {
  display: none;
}
/* nav section ended  */
@media screen and (max-width: 576px) {
  .nav-bar {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    border-bottom: 2px solid orange;
    border-width: 100%;
  }
  .nav-bar .nav-bar-logo h3 {
    display: none;
  }
  .nav-bar .nav-link li {
    display: none;
  }
  .nav-bar-icone {
    display: block;
    margin-left: 22rem;
    opacity: 0.7;
  }
  .btn-nav {
    display: none;
    color: red;
  }
}
/* ended resonsive  */
.banner {
  width: 1158px;
  height: 575px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container .banner-title {
  width: 70%;
}
.banner-title .banner-desc {
  font-size: 20px;
  opacity: 0.5;
  line-height: 1.5rem;
  padding-top: 1.5rem;
}
.btn-enroll {
  cursor: pointer;
  width: 197px;
  height: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
  background-color: rgb(12, 11, 9);
  border-radius: 10px;
  margin-top: 10px;
}
.banner-container .banner-images {
  width: 40%;
  margin-right: 0;
  padding-left: 5rem;
}
/* responsive start banner  */
@media screen and (max-width: 576px) {
  .banner {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-title {
    width: 100%;
  }
  .banner-container .banner-images {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-left: 0rem;
  }
}
/* ended responsive  */
